env

.vscode
.idea
*.h5
*.zip
*.csv
*.json
*.txt

__MACOSX
## Beda Folder
Submission A/data/
Submission B/data/
Submission C/data/
Submission-A-IPYNB/data/
Submission-B-IPYNB/data
Submission-C-IPYNB/data
